.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-1-square:hover {
    transition: background-color 5s;
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 3s;
}
.ex-2-square:active {
    width: 500px;
    height: 120px;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1.5s;
}
.ex-3-square:hover{
    border-radius: 50px;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 3s;
}
.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 0.5s;
}
.ex-5-square:hover{
    width: 85px;
    height: 85px;
}
.ex-5-square:active{
    width: 38px;
    height: 38px;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover{
    filter: grayscale(80%);
}

.ex-7-img:hover{
    transition: 1s;
    filter: saturate(80%) grayscale(80%);
}

.ex-8-img:hover{
    filter: hue-rotate(120deg) contrast(90%);
    border-radius: 50px;
}


.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-9-img:hover{
    filter: sepia(70%) blur(2px);
    border-radius: 60px;
    transform: scale(1.3);
}

.ex-10-icon {
    font-size: 60px;
    animation: rotate 3s linear infinite;
}
@-webkit-keyframes rotate{
    0%{transform: rotate(-0deg);}
    25%{transform: rotate(-90deg);}
    50%{transform: rotate(-180deg);}
    75%{transform: rotate(-270deg);}
    100%{transform: rotate(-360deg);}
}    


.ex-11-icon {
    font-size: 60px;

}
.ex-11-icon:hover{
    animation: rotates 2s linear;
}
@keyframes rotates{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(-0deg);}
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
    animation: vuoto-top-12 2s linear;
}

@keyframes vuoto-top-12{
    0%{ 
        top: -10%;
        left: 10%;
    }
    50%{
        top: -10%;
        left: 30%;
    }
    100%{
        top: -10%;
        left: 50%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: vuoto-bottom-12 2s linear;
}

@keyframes vuoto-bottom-12{
    0%{ 
        bottom: -10%;
        right: 20%;
    }
    50%{
        bottom: -10%;
        right: 40%;
    }
    100%{
        bottom: -10%;
        right: 60%;
    }
}


.ex-13-button:hover .ex-13-top-white{
    animation: vuoto-top-13 3s linear;
}

@keyframes vuoto-top-13{
    0%{ 
        top: -10%;
        left: 10%;
    }
    33%{
        top: -10%;
        left: calc(100% - 30px);
    }
    50%{
        top: 100%;
        left: calc(100% - 30px);
    }
    83%{
        top: 100%;
        left: 0;
    }
    100%{
        top: -10%;
        left: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: vuoto-bottom-13 2s linear;
}

@keyframes vuoto-bottom-13{
    0%{ 
        bottom: -10%;
        right: 20%;
    }
    33%{
        bottom: -10%;
        right: calc(100% - 30px);
    }
    50%{
        bottom: -100%;
        right: calc(100% - 30px);
    }
    83%{
        bottom: 100%;
        right: 0;
    }
    100%{
        bottom: -10%;
        right: 20%;
    }
}

